@media (max-width: 1023px) {
  .navbar {
    display: flex;
    justify-content: space-between;
  }

  .menu-toggle {
    display: block;
  }

  .nav-links {
    position: fixed;
    top: 0;
    right: 0;
    width: 280px;
    height: 100vh;
    background-color: var(--color-nav-bg);
    flex-direction: column;
    padding: 120px 40px;
    gap: 24px;
    transition: var(--transition);
    z-index: 300;
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);
    justify-self: initial;
    transform: translateX(100%);
  }

  .nav-links.is-active {
    transform: translateX(0);
  }

  .nav-links a {
    font-size: 1.2rem;
  }

  .menu-toggle[aria-expanded="true"] {
    position: relative;
    z-index: 201;
  }

  /* Troca de ícones baseada no estado do botão */
  .menu-toggle[aria-expanded="true"] .icon-menu {
    display: none;
  }
  .menu-toggle[aria-expanded="true"] .icon-close {
    display: block;
  }
}

  /* Hero */
@media (max-width: 1024px) {
  .hero-container {
    grid-template-columns: 1fr;
    text-align: center;
    padding-top: 40px;
  }

  .hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    order: 2;
  }

  .hero-image {
    order: 1;
  }

  .hero-title {
    font-size: 4rem;
  }

  .hero-subtitle {
    margin-inline: auto;
  }

  .hero-ninja {
    min-height: auto;
  }
}

/* Promo Dobro */
@media (max-width: 1100px) {
  .promo-dobro {
    height: auto;
    padding: 80px 0;
  }
  .promo-dobro::before {
    background: rgba(0, 0, 0, 0.8);
  }
  .promo-dobro__container {
    flex-direction: column;
    gap: 60px;
    text-align: center;
  }
  .promo-dobro__burgers {
    justify-content: center;
  }
  .promo-dobro__price {
    justify-content: center;
  }
  .promo-dobro__starting {
    margin-left: 0;
  }
  .promo-dobro__disclaimer {
    margin: 0 auto;
  }
  .promo-dobro__card {
    width: 100%;
    padding: 30px 20px;
  }
}

@media (max-width: 480px) {
  .promo-dobro__burgers .number { font-size: 6rem; }
  .promo-dobro__burgers .text { font-size: 2rem; }
  .promo-dobro__price .integer { font-size: 6rem; }
  .promo-dobro__price .decimal { font-size: 2rem; }
  .promo-dobro__price .currency { font-size: 1.5rem; }
  .promo-dobro__options {
    gap: 10px;
  }
  .promo-dobro__option p {
    font-size: 0.55rem;
  }
}

